@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Madimi+One&family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    /* Primary Color */
    --primary-color: rgb(26, 54, 54);
  
    --background-color : rgb(245, 239, 230);

    --sub-color: rgb(64, 83, 76);
  
    /* Background */
    --white-color: #ffffff; 
  
    /* Accent Gray */
    --heading-text: #000;
  
    /* Text and Secondary Elements */
    --text-color: #333;
  }

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    /* height: 3000px; */
    overflow-x: hidden;
}

/*--- Header/Navigation ---*/

.navbar {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s;
}

.navbar-scrolled {
    background-color: rgb(26, 54, 54);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar .brand-name {
    font-family: 'Madimi One', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 500!important;
}

.navbar .brand-name-scrolled {
    color: var(--primary-color);
}

.navbar .brand-name .brand-logo{
    height: 1em;
    width: 1em; 
    transform: translateY(5px);
}

.navbar .navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.normal-btn {
    position: relative;
    padding: 17px 3px!important;
    color: rgb(255,255,255)!important;
}

.hero-section {
    padding: 3.2rem 1.5rem;
    background-image: url(../assets/bg-img.png);
    background-repeat: no-repeat;
    background-image: cover;
}

.hero-section p {
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 0.3px;
}

.hero-section .title {
    padding-top: 50px;
    color: var(--primary-color);
    font-weight: 500;
}

.hero-section .description {
    color: var(--sub-color);
    font-size: 20px;
}
  
.hero-section .order-btn{
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 8px 24px;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.2s ease;
}

.hero-section .order-btn:hover{
    background-color: var(--sub-color);
}
/*-- Main --*/
.about .title {
    color: var(--sub-color);
}

.about .read-more-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 500;
    border: none;
    border-radius: 10px;
}
.about .read-more-btn:hover {
    background-color: var(--sub-color);
}


/*--- Footer ---*/
footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}

@media (min-width: 768px){     
    .login-button-scrolled {
        border: 2px solid var(--primary-color)!important;
        color: rgb(255, 255, 255)!important;
        padding: 15px 18px!important;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.3s background-color;
    }

    .login-button-scolled:hover {
        background-color: rgb(214, 189, 152);
        color: rgb(26, 54, 54)!important;
    } 

    .login-button {
        border: 2px solid rgb(214, 189, 152)!important;
        color: rgb(255, 255, 255)!important;
        padding: 15px 18px!important;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.3s background-color;
    }

    .login-button:hover {
        background-color: rgb(214, 189, 152);
        color: rgb(26, 54, 54)!important;
    } 
    
    .normal-btn:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 4px;
        background-color: rgb(214, 189, 152);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    } 

    .normal-btn:hover:before,
    .normal-btn.active:before {
        width: 100%;
        visibility: visible;
    }
}
@media (max-width: 768px){
    .hero-section {
        display: block;
        text-align: center;
    } 

    .offcanvas-header, .offcanvas-body {
        background-color: var(--primary-color);
    }

    .offcanvas-header .brand-name, 
    .offcanvas-header .btn-close {
        color: rgb(255, 255, 255);
    }

    .offcanvas-header .btn-close:focus {
        box-shadow: none;
        outline: none;
    }

    .login-button {
        width: 100% !important;
        text-align: center !important;
    }

    .normal-btn {
        text-align: center;
        font-weight: bold;
    }
    
    .normal-btn:hover {
        background-color: var(--sub-color);
        color: rgb(245, 239, 230);
        transition: all 0.3s;
    }

    .login-button {
        background-color: rgb(214, 189, 152)!important;
        color: rgb(26, 54, 54)!important;
        align-items: center;
        width: 100%;
        padding: 15px 18px;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.3s background-color;
    }

    /* .login-button:hover {

    }  */
}
